body {
  font-family: "Poppins", sans-serif;
  background: #fff;
}

.success-box {
  margin: 100px auto;
  text-align: center;
  width: 400px;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.btn {
  display: block;
  margin: 10px auto;
  padding: 10px 0;
  width: 100%;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
}

.btn-wa {
  border: 1px solid #00c853;
  color: #00c853;
}

.btn-wa:hover {
  background: #00c853;
  color: #fff;
}

.btn-download {
  background: #f9f9f9;
  color: #555;
}
